{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                  <div class="row align-items-center">
                      <div class="col-md-12">
                          <div class="page-header-title">
                              <h5 class="m-b-10">Goods Type</h5>
                          </div>
                          <ul class="breadcrumb">
                              <li class="breadcrumb-item"><a href=""><i class="feather icon-home"></i></a></li>
                              <li class="breadcrumb-item"><a href="#!">Fleet</a></li>
                              <li class="breadcrumb-item"><a href="javascript:">Goods Type</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="card">
                          <div class="card-header">
                            <h5>Goods Type</h5>
                            <!-- <span class="d-block m-t-5">&nbsp;</span> -->
                          </div>
                          <div class="card-block table-border-style">
                            <div class="table-responsive">
                              
                              <form action="/your-name/" method="post">
                                  {% csrf_token %}
                                  {% for field in form.visible_fields %}
                                      {{ field.errors }}
                                      {{ field.help_text }}
                                      {{ field }}
                                  {% endfor %}
                                  <input type="submit" value="Submit">
                              </form>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
